<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seekman.theme">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Activity.ActivityDetailsContainer"/>
        <activity android:name=".Activity.ActivityDetailsJoin">
        </activity>
        <activity android:name=".Activity.ThemeDetailsActivity">
        </activity>
    </application>

</manifest>